.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--grid-card-min-width, 17.5rem), 1fr));
	justify-items: var(--grid-justify-items, initial);
	gap: var(--grid-gap, 1rem);
}

.cards__item:nth-child(even) {
	--transition-origin: center left;
}

.cards__item:nth-child(odd) {
	--transition-origin: center right;
}