.details {
	padding-top: 3.125rem;
	padding-bottom: 5rem;
}

.details__article {
	display: grid;
	grid-template-columns: minmax(0, 35.625rem) minmax(0, 35rem);
	column-gap: 4.375rem;
}

.details__intro {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.details__hgroup {
	margin-bottom: 2.5rem;
}

.details__demo {
	gap: 3.75rem;
	grid-column: 2 / 3;
	grid-row: 1 / 5;
}

.details__description {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.details__hgroup {
	gap: 0.625rem 0.9375rem;
}

.details__tag {
	padding-right: calc(2.5rem - 0.125rem);
	padding-left: calc(2.5rem - 0.125rem);
}