.about {
	display: grid;
	gap: 1.875rem;
	padding-top: 1.875rem;
	padding-bottom: 3.75rem;
}

.about__content {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	max-width: 37.5rem;
}

.about__illustration {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	width: 100%;
	height: auto;
	aspect-ratio: 490 / 500;
}

.about__socials {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	align-self: end;
}