.details {
	padding-top: 1.875rem;
	padding-bottom: 3.75rem;
}

.details__article {
	display: flex;
	flex-direction: column;
}

.details__intro {
	margin-bottom: 3.125rem;
}

.details__header,
.details__description {
	max-width: 37.5rem;
}

.details__demo {
	gap: 1.875rem;
	margin-bottom: 3.125rem;
}

.details__description {
	margin-bottom: 3.125rem;
}

.details__hgroup {
	gap: 0.625rem 0.9375rem;
}