:is(h1, h2, h3, h4, h5, h6) {
	margin: 0;
}

:is(ul, ol) {
	padding-left: 0;
}

:is(ul, ol):not([class]) {
	list-style: none;
}

:is(ul, ol):not([class]) > li {
	position: relative;
	padding-left: 1.875rem;
}

:is(ul, ol):not([class]) > li:not(:last-child) {
	margin-bottom: 0.9375rem;
}


:is(ul, ol):not([class]) > li::before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

ul:not([class]) > li::before {
	content: '';
	width: 1.25rem;
	height: 1.5625rem;
	background-image: var(--list-marker, url('/images/list-marker-purple.svg'));
}

ol:not([class]) {
	counter-reset: ordered-list;
}

ol:not([class]) > li::before {
	counter-increment: ordered-list;
	content: counter(ordered-list) '.';
	font: var(--typography-heading-3);
	color: var(--color-text-1);
}

hr:not([class]) {
	height: 0.9375rem;
	background: url('/images/hr.svg') left center no-repeat;
	margin: 0;
	border-width: 0;
}

.content > * {
	margin-top: 0;
}

.content > *:last-child {
	margin-bottom: 0;
}

.content :is(p, li, dd, figcaption):not([class]) {
	color: var(--color-text-2);
}

.content :not(p, li, dd, figcaption):not([class]) {
	color: var(--color-text-1);
}

.content :is(h1, h2, h3, h4, h5, h6, ul, ol):not([class]):not(:last-child) {
	margin-bottom: 0.9375rem;
}

.content h1:not([class]) {
	font: var(--typography-heading-1);
}

.content h2:not([class]) {
	font: var(--typography-heading-2);
}

.content h3:not([class]) {
	font: var(--typography-heading-3);
}

.content h4:not([class]) {
	font: var(--typography-heading-4);
}

.content h5:not([class]) {
	font: var(--typography-text-s-bold);
}

.content h6:not([class]) {
	font: var(--typography-text-xs-bold);
}

.content a:not([class]) {
	color: inherit;
	text-decoration-thickness: 0.125rem;
}

.content :is(b, strong) {
	font-weight: 700;
}

.content small {
	font: var(--typography-text-xs);
}

.content q {
	quotes: "«" "»" "„" "“";
}

.content abbr {
	text-decoration-thickness: 0.125rem;
	cursor: help;
}

.content :is(code, var, samp, kbd) {
	display: inline-block;
	padding: 0 0.25rem;
	border-radius: 0.25rem;
	background-color: var(--accent-color-primary);
	font-family: monospace;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
}

.content :is(sup, sub) {
	font: var(--typography-text-xs);
}

.content :is(u, .text-underline) {
	text-decoration: underline;
	text-decoration-thickness: 0.3125rem;
	text-decoration-color: var(--accent-color-primary);
	text-decoration-skip-ink: none;
	text-underline-offset: 0.5rem;
}

.content mark {
	background-color: var(--accent-color-secondary);
}

.content dl:not([class]) dt {
	font-weight: 700;
}

.content dl:not([class]) dd {
	margin-left: 1.875rem;
}

.content blockquote:not([class]) {
	padding-left: calc(1.875rem - 0.25rem);
	border-left: 0.25rem solid var(--accent-color-primary);
	margin-right: 0;
	margin-left: 0;
}

.content table:not([class]) {
	width: 100%;
	max-width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border: 0.0625rem solid var(--accent-color-primary);
	font: inherit;
}

.content table:not([class]) :is(th, td) {
	text-align: center;
}

.content table:not([class]) th {
	background-color: var(--accent-color-primary);
	font-weight: 700;
}

.content table:not([class]) tr:nth-child(odd) {
	background-color: var(--accent-color-secondary);
}

.content :is(img, video, iframe, embed, object):not([class]):not([width], [height]) {
	width: 100%;
	max-width: 100%;
	height: auto;
	border-radius: 1.875rem;
}

.content :is(img, video, iframe, embed, object):not([class]):is([width], [height]) {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 1.875rem;
}

.content figure:not([class]) {
	margin-left: 0;
	margin-right: 0;
}

.content figure:not([class]) figcaption {
	text-align: center;
}

.content figure:not([class]) figcaption:first-child {
	margin-bottom: 0.625rem;
}

.content figure:not([class]) figcaption:last-child {
	margin-top: 0.625rem;
}
