.socials {
	display: inline-flex;
	column-gap: 1.875rem;
}

.socials__link {
	display: block;
	color: inherit;
	text-decoration: none;
}

.socials__link:hover :where(.socials__icon path) {
	stroke: currentColor;
	fill: transparent;
}

.socials__icon {
	display: block;
}

.socials__icon :where(path) {
	stroke-width: 0.0625rem;
	stroke: transparent;
	transition-property: fill, stroke;
	transition-duration: var(--transition);
}